<!DOCTYPE html>
<html>
    <head>
        <title>Contact details</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <style>
            .add{
                border :2px solid darkgrey;
                padding:10px;
                font-family:Verdana, Geneva, Tahoma, sans-serif;
            margin-bottom: 50px;}
            .add1{
                border :2px solid darkgrey;
                padding:10px;
                font-family:Verdana, Geneva, Tahoma, sans-serif;
            margin-top: -51px;}
            th,td{
                color: white;
            }
        </style>
    </head>
    <body>
        <div class="container-fluid " style="background-color:grey;">
            <h2 class="text-light " style="font-family:'Courier New', Courier, monospace">{{msg}}</h2>
        <div class="row">
            <div class="col-md-4">
               <h3 class=" text-center text-white alert alert-primary" style="font-family: fantasy; margin-bottom: 1px;">Add Contact</h3>
               <div class="form-group text-white add rounded bg-dark">
                <form action="add" method="POST">
                    {% csrf_token %}
                        <label class="text-white">Enter Name: </label>
                        <input type="text" name="nam" class="form-control ">
                        <label class="text-white">Enter Phone Number: </label>
                        <input type="text" name="num" class="form-control ">
                        <button type="submit" class= "btn btn-light" style="margin-top:5px">Add Contact</button>
                    </form>
                    <p class="text-success">{{msg1}}{{msg2}}</p>
                </div>
                <form action="del" method="POST">
                    {% csrf_token %}
                <h3 class=" text-center text-white alert alert-primary" style="font-family: fantasy; margin-bottom: 1px;">Delete Contact</h3>
                <div class="form-group text-white add rounded bg-dark">
                         <label class="text-white">Enter Name: </label>
                         <input type="text" name="nam" class="form-control ">
                         <button type="submit" class= "btn btn-light" style="margin-top:5px">Delete Contact</button>
                 </form>
                 <p class="text-success">{{msg3}}</p>
                 </div>
            </div>
            <div class="col-md-4">
                <h3 class=" text-center text-white alert alert-primary" style="font-family: fantasy; margin-bottom: 2px;">Update Contacts</h3>
                <form action="upd" method="POST">
                    {% csrf_token %}
                <div class="form-group text-white add rounded bg-dark">
                         <label class="text-white">Enter Old Name: </label>
                         <input type="text" name="onam" class="form-control ">
                         <label class="text-white">Enter New Name: </label>
                         <input type="text" name="nnam" class="form-control ">
                         <button type="submit" class= "btn btn-light" style="margin-top:10px" name="uname">Update Name</button>
                         <p class="text-success">{{msg4}}</p>
                        </div>
                 <div class="form-group text-white add1 rounded bg-dark">
                    <label class="text-white">Enter Name: </label>
                    <input type="text" name="name" class="form-control ">
                    <label class="text-white">Enter New Number: </label>
                    <input type="text" name="nnum" class="form-control ">
                    <button type="submit" class= "btn btn-light" style="margin-top:10px" name="unumber">Update Phone Number</button>
                    <p class="text-success">{{msg5}}</p>
                </div>
            </form>
             </div>
             <div class="col-md-4">
                <h3 class=" text-center text-white alert alert-primary" style="font-family: fantasy; margin-bottom: 2px;">Contact Details</h3>
                <form action="view" method="POST">
                    {% csrf_token %}
                <div class="form-group text-white add rounded bg-dark">
                    <table class="table table-striped  t1">
                        <div class="form-group">
                        <tr>
                            <th name="id">SNo</th>
                            <th>Name</th>
                            <th>Phone Number</th>
                        </tr></div>
                        {% for i in cont %}
                        <tr>
                            <td>{{i.id}}</td>
                            <td>{{i.name}}</td>
                            <td>{{i.phone}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                         <button type="submit" class= "btn btn-light" style="margin-top:10px">View All</button>
                 </div>
                 </form>
             </div>
        </div>
        </div>
    </body>
</html>
